
@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/google-sans/GoogleSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/google-sans/GoogleSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/google-sans/GoogleSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/google-sans/GoogleSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/google-sans/GoogleSans-BoldItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../assets/fonts/google-sans/GoogleSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.react-datepicker-popper {
  z-index: 1300;
}

.react-datepicker {
  font-family: 'Google Sans';
}

.react-datepicker__month-container {
  width: 290px
}